*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

:root{
    --Very-dark-blue: #1d2025;
    --Dark-grayish-blue: #68707d;
    --Grayish-blue: #b6bcc8;
    --White: #ffffff;
    --Black-opacity-light-box : hsl(0, 0%, 0%, .75);
    --a-color-blue: #3e52a3; 
    --orange-color: #f17b30;
    --light-blue-buttons: #f7f8fd;
    --dark-font-color:#212325;
    --orange-color-opacity: hsl(23, 87%, 57%, .3);


}

header{
    width: 100%;
    min-height: 100vh;
    background: var(--white);
    padding: 0 10%;
    
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3% 0;
    border-bottom: 1px solid var(--Grayish-blue);
}
.left-nav{
    display: flex;
    align-items: center;
    
}
.menu-logo{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-right: 3rem;
 
}
.left-nav .fa-bars{
    display: none;
    
}

.nav-links .fa-times {
    display: none;
}
.nav-links ul{
    display: flex;
}
.nav-links ul li{
    list-style: none;
    margin-left: 1rem;
}
.nav-links ul li a{
    text-decoration: none;
    font-size: 1rem;
    color: var(--Dark-grayish-blue);
}

.icons{
    display: flex;
    align-items: center;
}
.cart{
    cursor: pointer;
    margin-right: 3rem;
}
.user-icon{
    width: 3rem;
    cursor: pointer;
}

/* content */

.content{
    max-width: 100%;
    height: 70vh;
    display: flex;
    margin-top: 6%;
    justify-content: space-between;
    /* background-color: pink; */
}


.main-img{
    width: 100%;
    border-radius: 20px;
    cursor: pointer;
}
.content-left{
    width: 75%;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background: yellow; */
}
.thumbnails{
    width: 100%;
    display: flex;
    margin: 1.5rem 12px;
    gap: 5%;
}
.thumbnails img{
    width: 18%;
    border: 1px solid transparent;
    border-radius: 10px;
    cursor: pointer;
}
.thumbnails img:hover{
    border: 2px solid var(--orange-color);
}

.prev-btn, .next-btn{
    display: none;
}


/* modal */
.modal-container {
    opacity: 0; 
    pointer-events: none;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--Black-opacity-light-box);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.modal{
    width: 35%;
    height: auto;
    margin-bottom: .8rem;
    position: relative;
}
.close-btn{
    display: inline-block;
    position: absolute;
    top: -2.3rem;
    right: 0;
    font-size: 1.8rem;
    color: var(--White);
    cursor: pointer;
}
.close-modal{
    opacity: 1; 
    pointer-events: all;
    
}
.modal-img{
    width: 100%;
    border-radius: 20px;
}
.modal-container .thumbnails{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;

}
.modal-container .thumbnails img{
    width: 15%;
    border: 1px solid transparent;
    border-radius: 10px;
    cursor: pointer;
}
.thumbnails img:hover{
    border: 2px solid var(--orange-color);
}

.content-text{
    max-width: 50%;
    margin-left: 8%;
    margin-right: 2rem;
}
.content-text .content-title{
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--orange-color);
    margin: 1rem 0;
}
.content-text h1{
    font-size: 2.5rem;
    color: var(--dark-font-color);
    margin-bottom: 1.5rem;
}
.content-text p{
    font-size: 1rem;
    color: var(--Dark-grayish-blue);
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}
.percent{
    display: flex;
    flex-direction: column;
    justify-content: space-around;   
}
.percent-left{
    display: flex;
    align-items: center;
}
.percent-left h1{
    font-size: 2rem;
    margin-right: 1rem;
    color: var(--dark-font-color);
}
.percent-left p{
    font-size: 1rem;
    font-weight: bold;
    color: var(--orange-color);
    padding: 5px;
    border-radius: 5px;
    background: var(--orange-color-opacity);
}
.percent .line-through {
    font-size: 1.2rem;
    color: var(--Grayish-blue);
    text-decoration: line-through;
}

.buttons{
    margin-top: 1rem;
    flex-direction: column;
}

.plus-minus{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}
.plus-minus .plus, .plus-minus .minus{
    flex-basis: 30%;
    background: var(--light-blue-buttons);
    padding: 1rem 0;
    font-size: 2rem;
    color: var(--orange-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.plus-minus .number {
    flex-basis: 40%;
    background: var(--light-blue-buttons);
    padding: 1rem 0;
    font-size: 2.5rem;
    color: var(--dark-font-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    width: 100%;
    font-size: 1.2rem;
    color: var(--White);
    padding: 1rem 0;
    margin-bottom: 1rem; 
    background: var(--orange-color);
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;

}






@media only screen and (max-width: 1000px){
    .modal-container{
        display: none;
    }
    
    header {
        padding: 0;
        min-height: 100vh;
    }
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid var(--dark-font-color);
        padding: 2% 5%;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 10;
        max-width: 100%;
        background: var(--White);
        max-height: 8vh;
    }
    .left-nav{
        display: flex;
        align-items: center;
        
    }
    .menu-logo{
       display: flex;
       align-items: center;
       justify-content: space-between;
     
    }
    .left-nav .fa-bars{
        display: block;
        padding-right: 20px;
        cursor: pointer;
        font-size: 1.5rem;
        color: var(--Dark-grayish-blue);
    }
    
    
    .nav-links{
        position: absolute;
        top: 0;
        left: -50vw;
        width: 50vw;
        height: 100vh;
        background-color: var(--dark-font-color);
        transition: .3s;
    }
    .show-menu{
        left: 0;
    }
    
    .left-nav .fa-times{
        display: block;
        position: absolute;
        top: 20px;
        left: 20px;
        cursor: pointer;
        font-size: 1.5rem;
        color: var(--White);
    }
    .nav-links ul{
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }
    .nav-links ul li{
        padding: 20px ;
        list-style: none;
    }
    .nav-links ul li a{
        color: var(--White);
        text-decoration: none;
    }
    .icons{
        display: flex;
        align-items: center;
    }
    
    .icons .cart{
        width: 22px;  
        margin-right: 1rem;
        cursor: pointer;
    }
    .icons .user-icon{
        width: 40px;
        cursor: pointer;

    }

    /* content section */

    .content{
        margin: 7.5vh 0 0 0;
        max-width: 100%;
        height: 90vh;
        flex-direction: column;
    }
    .content-left{
        width: 100%;
        margin-left: 0;
    }
    
    .content-left .main-img{
        width: 100%;
        position: relative;
        border-radius: 0;
    }
    .thumbnails{
        display: none;
    }
    .prev-btn{
        width: 3rem;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 1.5rem;
        border-radius: 50%;
        cursor: pointer;
        background: var(--White);
        transition: .3s;
    }
    .prev-btn:hover{
        left: 3%;
    }
    .next-btn:hover{
        right: 3%;
    }
    .next-btn{
        width: 3rem;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 1.5rem;
        border-radius: 50%;
        cursor: pointer;
        background: var(--White);
        transition: .3s;

    }

    .content-text{
        max-width: 100%;
        margin-left: 0;
        padding: 1rem 5%;
        margin-right: 0;
    }
    .content-text .content-title{
        font-size: 1rem;
        font-weight: 600;
        letter-spacing: .1rem;
        color: var(--orange-color);
        margin-bottom: 1rem;
    }
    .content-text h1{
        font-size: 2.1rem;
        color: var(--dark-font-color);
        margin-bottom: 1.5rem;
    }
    .content-text p{
        font-size: 1.2rem;
        color: var(--Dark-grayish-blue);
        line-height: 1.7rem;
        margin-bottom: 1.5rem;
    }
    .percent{
        display: flex;
        flex-direction: row;
        justify-content: space-between;   
    }
    .percent-left{
        display: flex;
        align-items: center;
    }
    .percent-left h1{
        font-size: 2.1rem;
        margin-right: 1rem;
        color: var(--dark-font-color);
    }
    .percent-left p{
        font-size: 1rem;
        font-weight: bold;
        color: var(--orange-color);
        padding: 5px;
        border-radius: 5px;
        background: var(--orange-color-opacity);
    }
    .percent .line-through {
        font-size: 1.5rem;
        color: var(--Grayish-blue);
        text-decoration: line-through;
    }
    .buttons{
        margin-top: 1rem;
        flex-direction: column;
    }

    .plus-minus{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        

    }
   .plus-minus .plus, .plus-minus .minus{
        flex-basis: 30%;
        background: var(--light-blue-buttons);
        padding: 1rem 0;
        font-size: 2rem;
        color: var(--orange-color);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .plus-minus .number {
        flex-basis: 40%;
        background: var(--light-blue-buttons);
        padding: 1rem 0;
        font-size: 2.5rem;
        color: var(--dark-font-color);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    .btn{
        width: 100%;
        font-size: 1.2rem;
        color: var(--White);
        padding: 1rem 0;
        margin-bottom: 1rem; 
        background: var(--orange-color);
        border: none;
        border-radius: 5px;
        outline: none;

    }


}

